body
{
    font-size: 20px;
    background-color: orange;
    margin-top: 50px;
}

Puntuación
{
    color: black;
    background-color: antiquewhite;
}

show_sketch
{
    float:right;
}

Tiempo
{
    float:right;
}